a {
  text-decoration: none;
}
body {
  background-color: rgb(228, 235, 252);
}

h1 {
  color: blue;
  font-size: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 16px;
}
img {
  display: block;
  margin: 0 auto;
  width: 55px;
  height: 55px;
}

.currentInfo {
  line-height: 7px;
}

.current-temp-card {
  position: relative;
}
.current-temp-img {
  width: 125px;
  height: 125px;
}

.currentDayOverview {
  margin-bottom: 65px;
}

.days {
  text-align: center;
}

.high-temp {
  color: blue;
  font-weight: bold;
}
.low-temp {
  color: rgb(65, 65, 236);
}

.temps {
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-body {
  padding: 20px;
  border: 1px solid #aec2db;
  background-color: white;
  border-radius: 5px;
}

#currentCity {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

#currentDescription:first-letter {
  text-transform: capitalize;
}

#date {
  font-size: 16px;
  color: blue;
  margin-bottom: 0px;
}

#geo-location-button {
  color: black;
  background-color: blue;
  border-color: blue;
  border-radius: 10px;

  padding: 4px;
  color: white;
}

#geo-location-button:hover {
  transition-duration: 10em;
  color: blue;
  background-color: white;
  border-color: blue;
}

#main-temp {
  color: blue;
  font-weight: bolder;
}

#search-button {
  color: blue;
  background-color: white;
  border-color: blue;
  border-radius: 10px;
  margin: 10 10 10 15px;
  padding: 4px;
}
#search-button:hover {
  transition-duration: 10em;
  color: white;
  background-color: blue;
  border-color: blue;
}
#search-form {
  margin-bottom: 15px;
}
