a {
  text-decoration: none;
}
body {
  background-color: gray;
}

h1 {
  color: blue;
}

h6 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 55px;
  height: 55px;
}

.currentInfo {
  line-height: 7px;
}

.current-temp-card {
  position: relative;
}
.current-temp-img {
  width: 150px;
  height: 125px;
}
.days {
  text-align: center;
}

.high-temp {
  color: blue;
  font-weight: bold;
}
.low-temp {
  color: rgb(65, 65, 236);
}

.temps {
  text-align: center;
}

#currentCity {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0px;
}

#currentDescription:first-letter {
  text-transform: capitalize;
}

#date {
  font-size: 16px;
  color: blue;
  margin-bottom: 0px;
}

#geo-location-button {
  color: black;
  background-color: blue;
  border-color: blue;
  border-radius: 10px;
  margin: 0 0 0 15px;
  padding: 4px;
  color: white;
}

#geo-location-button:hover {
  transition-duration: 10em;
  color: blue;
  background-color: white;
  border-color: blue;
}

#main-temp {
  color: blue;
  font-weight: bolder;
}

#search-button {
  color: blue;
  background-color: white;
  border-color: blue;
  border-radius: 10px;
  margin: 10 10 10 15px;
  padding: 4px;
}
#search-button:hover {
  transition-duration: 10em;
  color: white;
  background-color: blue;
  border-color: blue;
}
